redirects: on
source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://dotnet.myget.org/F/cli-deps/api/v3/index.json
source http://reactjs.net/packages/
source https://www.nuget.org/api/v2/
framework >= net451

nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.0
nuget Microsoft.Net.Compilers 1.0.0

//owin
nuget Owin 1.0
nuget Microsoft.Owin
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.AspNet.WebApi.Owin

//webApi
nuget Microsoft.AspNet.WebApi 5.2.0
nuget Microsoft.AspNet.WebApi.WebHost 5.2.0
nuget Microsoft.AspNet.WebApi.Core 5.2.0
nuget WebApiContrib.Formatting.Razor
nuget Microsoft.AspNet.WebApi.Client 5.2.0
nuget Newtonsoft.Json

//autofac
nuget Autofac 3.5.0
nuget Autofac.WebApi2

//persistance
nuget DbUp
nuget Dapper

//testing
nuget NUnit
nuget AutoFixture
nuget AutoFixture.AutoMoq
nuget Moq